.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: opacity 0.5s ease-in;
  opacity: .5;
}
