.header__link {
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.header__link:hover {
  transition: opacity 0.5s ease-in;
  opacity: .5;
}
